%div#content
	%div#main_content
		%h2 Venue Name - Venue Type - City
		= image_tag("venue_image.png")
		%p#description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		%div#map
			%canvas 
				
				
		%ul
			%li 
				%a{:href => "#"}Post Event
			%li
				%a{:href => "#"}Next Event
		%div#rating
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
			%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
		%div#other_venue
			%h3 Other Venue
			%ul
				%li
					= link_to image_tag("venue_image_thumb.png"), "#"
					%div#rating
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
				%li
					= link_to image_tag("venue_image_thumb.png"), "#"
					%div#rating
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
				%li
					= link_to image_tag("venue_image_thumb.png"), "#"
					%div#rating
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
				%li
					= link_to image_tag("venue_image_thumb.png"), "#"
					%div#rating
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled", :checked => "checked"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
						%input{:name => "star3", :type => "radio", :class => "star", :disabled => "disabled"}/
	%div#sidebar
		%p google ad
%div#footer
	%p Infinite Shelter 2012
	%ul
		%li
			%a{:href => "#"}Terms of Use
		%li
			%a{:href => "#"}Privacy Policy